test.py
*.pyc
*.pro
*.cpp
*.h
tree.py
design/file_types_dialog.py
chekable.py
All BackUps/
Backups/
open_fuff_dencrypt.zip
cleaned_up_with_headers.xlsx.encrypt
*.iml
OpenPuff.zip
.idea/
test_big.rar
cleaned_up_with_headers.xlsx
